.data-explorer-wrapper {
  text-align: center;
  background-color:#383838; 
  /* height: 100vh; */
}
.data-explorer-top {
  display: flex;
}
.btn {
  color: #fff; 
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  margin: 0 0 2em;
  max-width: 100px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn-4 {
background-color:#9370DB;
  border: 1px solid #fff;
  overflow: hidden;
  position: relative;
}
.btn-4 span {
  z-index: 20;
}
.pattern-input {
  margin-top: -25px;
}
.search-input {
width:80%;
line-height: 45px;
padding-left:35px;
color:#ffffff;
background-color: #383838; 
}

.search-input::-webkit-input-placeholder {
  color: #ffffff;
}
.search-input:-moz-placeholder {
  color: #ffffff;

}
.search-input::-moz-placeholder {
  color: #ffffff;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:absolute;
  z-index:100;
  background: white;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.editor-panel {
  width:98%;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 20px;
color:#ffffff;
border-top: 1px solid #ffffff;
border-bottom: 1px solid #ffffff;
margin-top:-30px
}

.editor-panel-inner {
  display: flex; 
  justify-content: flex-end;
   width: 100%
}

.editor-control-item {
  padding-left: 5px; 
  cursor: pointer;
  padding-right: 5px; 
  display: inline-block;
}

.server-controls {
  display: flex; 
  justify-content: flex-end;
  padding-right: 15px; 
  padding-top: 5px;
}
.server-controls button {
  cursor: pointer
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-editor {
  width: 98%;
  height: 100%;
  min-height: 500px;
  background-color:#383838;
  color:#ffffff;
  border:0;
}
.item-editor:focus { 
  outline: none !important;
  border-color: #9370DB;
  box-shadow: 0 0 5px #9370DB;
}

.list-editor-container {
  display: flex;
}
.list-editor-view-wrapper {
  width: 100%;
  overflow-y: scroll;
  min-height: 500px;
}
