
.list-view {
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-view main {
  background-color: #383838;
  color: #fff;
  padding: 10px;
  width:100%;
  margin:5px;
}

.list-view ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-view ul li {
  background-color: #383838;
  padding: 10px 10px;
  position: relative;
  display: flex;
  align-items: flex-start;
  line-height: 1;
}

.list-view li .drag {
  margin-right: 15px;
  margin-top:2px;
  cursor: move;
}

.list-view li svg {
  height: 2rem;
  color: #fff;
}

.content {
  background-color:#383838; 
  border:none; 
  line-height: 30px;
  color:white;
  width:100%;
  border: 1px solid #ffffff;
}

.list-view-header {
  width: 100%; 
  display: flex; 
  justify-content: flex-end
}

.list-item-index {
  margin-right: 10px;
  margin-top: 12px;
}

.delete-item-btn {
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
}