
.key-item {
  height: 20px;
  border: 1px solid #AFC97E;
  margin: 6px;
  padding: 8px;
  padding-top: 10px;
  font-size: 12px;
  display: flex;
  color:#ffffff;
}
.key-item-type-wrapper {
  display: inline-block;
}

.key-type {
  padding: 0 !important;
  text-transform: uppercase;
  width: 32px;
  height: 16px;
  font-size: 8px !important;
  line-height: 17px !important;
  display: block;
  text-align: center;
  background: #60d4ca;
  color: #fff;
}

.string { background:  #4EBCFF; }
.list { background: #8C6796; }
.hash { background: #FFA1AD; }
.zset { background: #F2921B; }
.set { background: #FFD94E; }

.key-item-name {
  padding-left: 5px;
  text-align: left; 
  width: 100%; 
  display: inline-block; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.key-item-controls {
  display: flex; 
  justify-content: flex-end; 
  width: 25%;
}
.key-item-control {
  padding-left: 5px;
  cursor: pointer; 
  padding-right: 5px; 
  display: inline-block;
}