
.new-item-container {
  max-width:520px;
  min-width: 400px;
  min-height: 500px;
	width:100%;
	margin:0 auto;
  position:relative;
  margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

.configure input[type="text"], .configure button[type="submit"]{ 
  font:400 16px "Open Sans", Helvetica, Arial, sans-serif; 
}

.configure {
	background:#383838;
	padding:10px;
}

.configure h3 {
	color: #F96;
	display: block;
	font-size: 20px;
	font-weight: 400;
}

.new-item-type-wrapper {
  margin: 0 0 5px; 
  padding-left: 5px;
  text-align: left;
}

.configure-control-panel {
  display: flex; 
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

.configure input[type="text"] {
	width:90%;
	border:1px solid #CCC;
	background:#383838;
	margin:0 0 5px;
	padding:12px;
}

.configure input[type="text"]:hover{
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

.configure-button {
	cursor:pointer;
	width:100%;
	border:none;
	background:#9370DB;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

.configure-button:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

.configure-button-disabled {
  background:#9370DB;
  cursor: not-allowed;
	width:100%;
	border:none;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

.configure-button:active { 
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

.configure input:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.close {
  position: absolute;
  cursor:pointer;
  top: 10px;
  right: 10px;
}

.key-name {
  width:80%;
  color:#ffffff;
  line-height:45px;
  padding-left:35px;
}

.config-list-container {
  display: flex;
}

.config-list-view-wrapper {
  width: 100%;
  overflow-y: scroll;
  height: 300px;
  border: solid #ffffff 1px
}

.config-hash-message {
  display: flex; 
  margin: auto 5px; 
  font-size: 10px; 
  color: #ffffff;
}

